<template>
  <div>
    <b-container fluid class="content-banner">
      <div class="image-container">
        <img :src="imageUrl" />
      </div>
    </b-container>
    <b-container class="mt-4">
      <b-breadcrumb :items="breadcrumb" style="background-color: inherit"></b-breadcrumb>
      <h1 class="font-weight-bold mb-4">{{ content.title }}</h1>
      <b-row class="content-detail mb-4">
        <b-col lg="12" class="mb-2">Opinion by :
          <span class="another">{{ content.user.name }}</span></b-col>
        <b-col lg="12" class="text-left"><span class="mr-1"><i class="fa-regular fa-clock"></i> </span><span>{{
          formatDate(content.createdAt) }} </span><span class="mr-1"><i class="fa-regular fa-eye"></i> </span><span>{{
    formatNumber(content.view) }}</span></b-col>
      </b-row>
      <b-row class="mb-4">
        <b-col lg="9">
          <b-row>
            <b-col lg="12">
              {{ content.description }}
            </b-col>
            <b-col lg="12">
              <img :src="imageUrl" class="p-5" />
            </b-col>
            <b-col lg="12">
              {{ content.description }}
            </b-col>
          </b-row>
          <b-row class="mt-4">
            <b-col lg="12" class="font-weight-bold">Tags :
              <a v-for="(tag, index) in hashtag" :key="index" style="color: #637de5; font-weight: normal" class="mr-1"
                @click="openHashtag(tag)">#{{ tag }}</a></b-col>
            <b-col lg="12">Share :
              <img src="/social.png" style="height: 20px; width: auto" class="ml-2" /></b-col>
          </b-row>
        </b-col>
        <b-col lg="3">
          <h4>Related Contents</h4>
          <div class="d-flex flex-wrap" style="margin: -4px">
            <div v-for="(item, index) in news" :key="index" class="col-lg-12 mb-2">
              <b-card :img-src="item.imageUrl" img-alt="Image" img-top tag="article"
                style="border-radius: 10px; overflow: hidden" @click="openContent(item.id)">
                <b-row>
                  <b-col lg="6"><span :class="{
                    'content-type': true,
                    'text-success': item.type === 'News',
                    'text-danger': item.type === 'Articles',
                    'text-secondary': item.type === 'Promotions',
                  }">
                      {{ item.type }}
                    </span>
                  </b-col>
                  <b-col lg="6" class="text-right content-detail">
                    <span class="mr-1"><i class="fa-regular fa-eye"></i> </span><span>{{ formatNumber(item.view)
                    }}</span><span class="ml-1"><i class="fa-solid fa-gears"></i></span>
                  </b-col>
                </b-row>

                <b-card-title>{{ item.title }}</b-card-title>
                <b-card-text class="overflow-ellipsis">{{ item.description }}
                </b-card-text>
              </b-card>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import dayjs from 'dayjs'
export default {
  name: 'ContentDetailPage',
  layout: 'default',
  async asyncData({ $axios, params, error,redirect  }) {
    try {
      const randomImages = Array.from(
        { length: 4 },
        (_, i) => `/content-${i + 1}.jpg`
      )
      const queryParams = {
        page: 1,
        limit: 4,
      }
      const queryString = new URLSearchParams(queryParams).toString()
      const { data: content } = await $axios.$get(`/news/${params.id}`)
      const { data: contents } = await $axios.$get(`/news?${queryString}`)
      const news = contents.map((item) => ({
        ...item,
        imageUrl: randomImages[Math.floor(Math.random() * randomImages.length)],
      }))
      const breadcrumb = [
        ...[
          {
            text: 'Home',
            href: '/',
          },
          {
            text: 'News & Promotions',
            href: '/contents',
          },
        ],
        ...[{ text: content.title, href: `/contents/${content.id}` }],
      ]
      return { content, news, hashtag: content.hashtag, breadcrumb }
    } catch (err) {
      if (err.response && err.response.status === 401) {
        console.warn('Unauthorized access. Redirecting to login page...');
        // error({ statusCode: 401, message: 'Unauthorized access' });
        // redirect('/contents')
      } else {
        console.error('Error fetching data:', err.message);
        error({ statusCode: 500, message: 'Internal Server Error' });
      }
    }
  },
  data() {
    return {
      breadcrumb: [
        {
          text: 'Home',
          href: '/',
        },
        {
          text: 'News & Promotions',
          href: '/contents',
        },
      ],
      imageUrl: Array.from({ length: 4 }, (_, i) => `/content-${i + 1}.jpg`)[
        Math.floor(
          Math.random() *
          Array.from({ length: 4 }, (_, i) => `/content-${i + 1}.jpg`).length
        )
      ],
    }
  },
  methods: {
    formatDate(date) {
      return dayjs(date).format('DD MMMM YYYY')
    },
    formatNumber(number, digits = 0) {
      return number.toLocaleString('en-US', {
        minimumFractionDigits: digits,
        maximumFractionDigits: digits,
      })
    },
    openContent(id) {
      this.$router.push(`/contents/${id}`)
    },
    openHashtag(tag) {
      this.$router.push({ path: '/contents', query: { hashtag: tag } })
    },
  },
}
</script>
<style scoped>
.content-banner {
  height: 422px;
  background-image: url('/content-banner.png');
  background-size: auto 422px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  background-color: inherit;
  font-size: 18px;
  padding: 0;
}

.breadcrumb>.breadcrumb-item>a {
  color: #6a6a6a;
}

.breadcrumb>.breadcrumb-item.active>span {
  color: #637de5;
  font-weight: 600;
}

.content-detail {
  font-size: 14px;
  color: #b2b8b8;
}

.another {
  color: #637de5;
  font-weight: 500;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
}

.overflow-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* แสดงในทิศทางแนวตั้ง */
  overflow: hidden;
  /* ซ่อนข้อความที่เกินขนาด */
  -webkit-line-clamp: 2;
  color: #233548;
}

.card-img,
.card-img-top {
  height: 120px;
}

.content-type {
  margin-bottom: 0;
  font-size: 14px;
}

.card-body {
  padding: 4px 12px 8px 12px;
}
</style>
