<template>
  <div>
    <b-container fluid class="content-banner">
      <b-container class="pt-5">
        <div class="col-md-5 col-lg-5" style="padding-top: 48px">
          <h1 class="text-secondary font-weight-bold mb-4">
            News & Promotions
          </h1>
          <span style="font-size: 18px; color: #4f5156">
            "Indulge in the exclusive privileges we offer and stay up-to-date
            with the latest news and updates from the OTC Exchange."
          </span>
        </div>
      </b-container>
    </b-container>
    <b-container class="mt-4">
      <b-breadcrumb
        :items="breadcrumb.filter((item) => item?.text)"
        style="background-color: inherit"
      ></b-breadcrumb>
      <h1 class="font-weight-bold mb-2">News</h1>

      <div class="d-flex flex-wrap" style="margin: -4px">
        <div
          v-for="(item, index) in news"
          :key="index"
          class="col-md-4 col-lg-4 p-2"
        >
          <b-card
            :img-src="item.imageUrl"
            img-alt="Image"
            img-top
            tag="article"
            style="border-radius: 20px; overflow: hidden"
            @click="openContent(item.id)"
          >
            <span
              :class="{
                'content-type': true,
                'text-success': item.type === 'News',
                'text-danger': item.type === 'Articles',
                'text-secondary': item.type === 'Promotions',
              }"
            >
              {{ item.type }}
            </span>
            <b-card-title>{{ item.title }}</b-card-title>
            <b-card-text class="overflow-ellipsis"
              >{{ item.description }}
            </b-card-text>
            <hr />
            <b-row class="content-detail">
              <b-col lg="6" class="text-left"
                ><span class="mr-1"><i class="fa-regular fa-clock"></i> </span
                ><span>{{ formatDate(item.createdAt) }} </span></b-col
              >
              <b-col lg="6" class="text-right"
                ><span class="mr-1"><i class="fa-regular fa-eye"></i> </span
                ><span>{{ formatNumber(item.view) }}</span></b-col
              >
            </b-row>
            <!-- <b-button href="#" variant="primary">Go somewhere</b-button> -->
          </b-card>
        </div>
      </div>
      <b-row>
        <b-col
          lg="12"
          class="text-center"
          style="line-height: 100px; height: 100px"
          ><b-button
            v-if="isViewMore"
            variant="primary"
            class="text-white"
            pill
            @click="viewMore"
            >View more
            <span class="ml-2">
              <i class="fa-solid fa-caret-down"></i>
            </span> </b-button
        ></b-col>
      </b-row>
      <h1 class="font-weight-bold mb-2">Promotions</h1>
      <div class="d-flex flex-wrap" style="margin: -4px">
        <div
          v-for="(item, index) in promotions"
          :key="index"
          class="col-md-4 col-lg-4 p-2"
        >
          <b-card
            :img-src="item.imageUrl"
            img-alt="Image"
            img-top
            tag="article"
            style="border-radius: 20px; overflow: hidden"
            @click="openContent(item.id)"
          >
            <p
              :class="{
                'content-type': true,
                'text-success': item.type === 'News',
                'text-danger': item.type === 'Articles',
                'text-secondary': item.type === 'Promotions',
              }"
            >
              {{ item.type }}
            </p>
            <b-card-title>{{ item.title }}</b-card-title>
            <b-card-text class="overflow-ellipsis"
              >{{ item.description }}
            </b-card-text>
            <hr />
            <b-row class="content-detail">
              <b-col lg="6" class="text-left"
                ><span class="mr-1"><i class="fa-regular fa-clock"></i> </span
                ><span>{{ formatDate(item.createdAt) }} </span></b-col
              >
              <b-col lg="6" class="text-right"
                ><span class="mr-1"><i class="fa-regular fa-eye"></i> </span
                ><span>{{ formatNumber(item.view) }}</span></b-col
              >
            </b-row>
          </b-card>
        </div>
      </div>
      <b-row>
        <b-col
          lg="12"
          class="text-center"
          style="line-height: 100px; height: 100px"
          ><b-button
            v-if="isViewMore"
            variant="primary"
            class="text-white"
            pill
            @click="viewMore"
            >View more
            <span class="ml-2">
              <i class="fa-solid fa-caret-down"></i>
            </span> </b-button
        ></b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import dayjs from 'dayjs'
export default {
  name: 'ContentsPage',
  layout: 'default',
  data() {
    return {
      breadcrumb: [
        ...[
          {
            text: 'Home',
            href: '/',
          },
          {
            text: 'News & Promotions',
            href: '/contents',
          },
        ],
        ...[
          this.$route.query?.hashtag && {
            text: this.$route.query.hashtag,
            href: '/contents',
          },
        ],
      ],
      searchParams: {
        limit: 6,
        page: 1,
      },
      limitPushContent: 6,
      news: [],
      promotions: [],
      totalContents: 0,
    }
  },
  async fetch() {
    await this.fetchData()
  },
  computed: {
    isViewMore() {
      return this.totalContents > this.searchParams.limit
    },
  },
  watch: {
    async 'searchParams.limit'() {
      await this.fetchData()
    },
  },
  methods: {
    formatDate(date) {
      return dayjs(date).format('DD MMMM YYYY')
    },
    formatNumber(number, digits = 0) {
      return number.toLocaleString('en-US', {
        minimumFractionDigits: digits,
        maximumFractionDigits: digits,
      })
    },
    openContent(id) {
      this.$router.push(`/contents/${id}`)
    },
    async fetchData() {
      const randomImages = Array.from(
        { length: 4 },
        (_, i) => `/content-${i + 1}.jpg`
      )
      let queryParams = this.searchParams

      this.$route.query?.hashtag &&
        (queryParams = Object.assign({
          ...queryParams,
          hashtag: this.$route.query.hashtag,
        }))
      const queryString = new URLSearchParams(queryParams).toString()
      const { data: contents, metadata } = await this.$axios.$get(
        `/news?${queryString}`
      )
      this.totalContents = metadata.totalItems
      this.news = contents
        .map((item) => ({
          ...item,
          imageUrl:
            randomImages[Math.floor(Math.random() * randomImages.length)],
        }))
        .filter((item) => item.type !== 'Promotions')
      this.promotions = contents
        .map((item) => ({
          ...item,
          imageUrl:
            randomImages[Math.floor(Math.random() * randomImages.length)],
        }))
        .filter((item) => item.type === 'Promotions')
    },

    viewMore() {
      this.searchParams = {
        ...this.searchParams,
        limit: this.searchParams.limit + this.limitPushContent,
      }
    },
  },
  
}
</script>
<style scoped>
.content-banner {
  height: 422px;
  background-image: url('/content-banner.png');
  background-size: auto 422px;
  background-repeat: no-repeat;
  background-position: right;
}
.breadcrumb {
  background-color: inherit;
  font-size: 18px;
  padding: 0;
}
.breadcrumb > .breadcrumb-item > a {
  color: #6a6a6a;
}
.breadcrumb > .breadcrumb-item.active > span {
  color: #637de5;
  font-weight: 600;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
}
.overflow-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical; /* แสดงในทิศทางแนวตั้ง */
  overflow: hidden; /* ซ่อนข้อความที่เกินขนาด */
  -webkit-line-clamp: 2;
  color: #233548;
}
.card-img,
.card-img-top {
  height: 208px;
}
.content-type {
  margin-bottom: 0;
  font-size: 14px;
}
.card-body {
  padding: 8px, 16px, 8px, 16px;
}
.content-detail {
  font-size: 14px;
  color: #b2b8b8;
}
</style>
