<template>
  <b-container class="p-0">
    <b-breadcrumb
      :items="breadcrumb"
      style="background-color: inherit"
    ></b-breadcrumb>
    <h1 class="font-weight-bold mb-2">Quiz</h1>
    <div class="mt-4">
      <h5>
        1. Please write a function to find the index that has the sum of left’s
        elements equal to the sum of right’s elements.
      </h5>
      <div>
        <label for="inputArray">Enter numbers (comma-separated):</label>
        <b-form-input
          id="inputArray"
          v-model="inputArray"
          type="text"
          placeholder="3,5,7"
          class="mb-2"
        ></b-form-input>
        <b-button @click="findAndDisplayMiddleIndex"
          >Find Middle Index</b-button
        >
        <p class="my-2">Result: {{ resultQ1 }}</p>
      </div>
    </div>
    <!-- end Quiz 1 -->

    <!-- Quiz 2. -->
    <div class="mt-4">
      <h5>
        2. Please write a function to detect that incoming string is palindrome
        or not
      </h5>
      <div>
        <label for="inputString">Input String:</label>
        <b-form-input
          id="inputString"
          v-model="inputString"
          type="text"
          placeholder="Dad"
          class="mb-2"
        ></b-form-input>
        <b-button @click="checkPalindrome">Check Palindrome</b-button>
        <p class="my-2">{{ resultQ2 }}</p>
      </div>
    </div>
    <!-- end Quiz 2 -->

    <!-- Quiz 3. -->
    <div class="mt-4">
      <h5>
        3. [Bonus] Please write a function to find triplets array that the sum
        of the numbers is equal to zero
      </h5>
      <div>
        <label for="inputNumbers">Enter numbers (comma-separated): </label>
        <b-form-input
          id="inputNumbers"
          type="text"
          v-model="inputNumbers"
          placeholder="-1, -5, -3, 0, 1, 2, -1"
          class="mb-2"
        />
        <b-button @click="findTripletsWithSumZero">Find Triplets</b-button>
      </div>

      <div v-if="triplets.length">
        <p class="my-2">Output: {{ formatOutput(triplets) }}</p>
      </div>
      <div v-else>There are no matched numbers</div>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'QuizPage',
  layout: 'default',
  data() {
    return {
      inputArray: '',
      resultQ1: '',
      inputString: '',
      resultQ2: '',
      breadcrumb: [
        ...[
          {
            text: 'Home',
            href: '/',
          },
          {
            text: 'Quiz',
            href: '/quiz',
          },
        ],
      ],
      inputNumbers: '',
      triplets: [],
    }
  },
  mounted() {
    this.findTripletsWithSumZero()
  },
  methods: {
    findMiddleIndex(arr) {
      for (let i = 0; i < arr.length; i++) {
        const leftSum = arr.slice(0, i).reduce((acc, num) => acc + num, 0)
        const rightSum = arr.slice(i + 1).reduce((acc, num) => acc + num, 0)

        if (leftSum === rightSum) {
          return i
        }
      }

      return -1
    },
    findAndDisplayMiddleIndex() {
      const arr = this.inputArray.split(',').map(Number) // Convert input string to array of numbers
      const middleIndex = this.findMiddleIndex(arr)

      if (middleIndex !== -1) {
        this.resultQ1 = `middle index is ${middleIndex}`
      } else {
        this.resultQ1 = 'index not found'
      }
    },
    checkPalindrome() {
      const sanitizedString = this.inputString
        .toLowerCase()
        .replace(/[^a-zA-Z0-9]/g, '') // Ignore case and non-alphanumeric characters
      const length = sanitizedString.length

      for (let i = 0; i < Math.floor(length / 2); i++) {
        if (sanitizedString[i] !== sanitizedString[length - 1 - i]) {
          this.resultQ2 = `${this.inputString} isn't a palindrome`
          return
        }
      }

      this.resultQ2 = `${this.inputString} is a palindrome`
    },
    findTripletsWithSumZero() {
      const nums = this.inputNumbers
        .split(',')
        .map((num) => parseInt(num.trim(), 10))
      this.triplets = this.findTriplets(nums)
    },
    findTriplets(nums) {
      const result = []

      nums.sort((a, b) => a - b)

      for (let i = 0; i < nums.length - 2; i++) {
        if (i > 0 && nums[i] === nums[i - 1]) {
          continue
        }

        let left = i + 1
        let right = nums.length - 1

        while (left < right) {
          const sum = nums[i] + nums[left] + nums[right]

          if (sum === 0) {
            result.push([nums[i], nums[left], nums[right]])

            while (left < right && nums[left] === nums[left + 1]) {
              left++
            }

            while (left < right && nums[right] === nums[right - 1]) {
              right--
            }

            left++
            right--
          } else if (sum < 0) {
            left++
          } else {
            right--
          }
        }
      }

      return result
    },
    formatOutput(triplets) {
      return triplets.map((triplet) => `[${triplet.join(', ')}]`).join(', ')
    },
  },
  formatOutput(triplets) {
    return triplets.map((triplet) => `[${triplet.join(', ')}]`).join(', ')
  },
}
</script>
