<!-- pages/login.vue -->
<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0">
          <!-- Add border-0 class to remove border -->
          <div class="card-body">
            <h2 class="text-left mb-4 text-primary font-weight-bold">Login</h2>
            <!-- Change text-center to text-left -->
            <form @submit.prevent="signIn">
              <div class="form-group">
                <label for="email" class="font-weight-bold">Email</label>
                <input
                  id="email"
                  v-model="email"
                  type="text"
                  class="form-control py-4"
                  required
                  placeholder="Enter email"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <label for="password" class="font-weight-bold">Password</label>
                <div class="input-group">
                  <input
                    id="password"
                    v-model="password"
                    :type="showPassword ? 'text' : 'password'"
                    class="form-control border-right-0 py-4"
                    placeholder="Enter password"
                    autocomplete="off"
                    required
                  />
                  <div class="input-group-append">
                    <span
                      class="input-group-text"
                      @click="togglePasswordVisibility"
                    >
                      <i
                        :class="
                          showPassword
                            ? 'fas fa-eye-slash fa-lg'
                            : 'fas fa-eye fa-lg'
                        "
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="form-check">
                  <input
                    id="rememberMe"
                    type="checkbox"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="rememberMe"
                    >Remember this device</label
                  >
                </div>
                <a href="#" class="text-right">Forgot password</a>
              </div>
              <b-button
                variant="primary"
                type="submit"
                style="color: white"
                class="btn btn-primary btn-block mt-3"
                pill
                >Login</b-button
              >
              <div class="mt-3 text-left">
                Don't have an account yet?
                <router-link to="/register">Create an account</router-link>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignInPage',
  layout: 'SignInLayout',
  data() {
    return {
      email: '',
      password: '',
      showPassword: false,
    }
  },
  methods: {
    async signIn() {
      const payload = {
        data: {
          username: this.email,
          password: this.password,
        },
      }
      try {
        const succesfulLogin = await this.$auth.loginWith('local', payload)
        if (succesfulLogin) {
          await this.$auth.setUser({
            name: succesfulLogin.data.data.name,
            role: succesfulLogin.data.data.role,
          })
          await this.$auth.setUserToken(succesfulLogin.data.data.access_token)
        } else {
          this.$bvToast.toast('Validate token fail', {
            title: 'Warning',
            autoHideDelay: 5000,
            appendToast: true,
            toaster: 'b-toaster-bottom-right',
            variant: 'warning',
          })
        }
      } catch (err) {
        const { statusCode, message } = err
        if (statusCode === 401) {
          this.$bvToast.toast(message, {
            title: 'Warning',
            autoHideDelay: 5000,
            appendToast: true,
            toaster: 'b-toaster-bottom-right',
            variant: 'warning',
          })
        }
      }
    },
    togglePasswordVisibility() {
      this.showPassword = !this.showPassword
    },
  },
}
</script>

<style scoped>
.border-right-0 {
  border-right: 0 !important;
}

.input-group-text {
  background-color: inherit;
}
</style>
