<template>
  <b-container class="p-0">
    <b-breadcrumb
      :items="breadcrumb.filter((item) => item?.text)"
      style="background-color: inherit"
    ></b-breadcrumb>
    <h1 class="font-weight-bold mb-2">Control Panel</h1>
    <div class="text-right my-2">
      <b-button v-b-modal.modal-create variant="success">Create</b-button>
    </div>
    <b-table striped hover :items="contents" :fields="fields">
      <template v-slot:cell(actions)="data">
        <b-button @click="editContent(data.item)" variant="warning"
          >Edit</b-button
        >
        <b-button @click="deleteContent(data.item)" variant="danger"
          >Delete</b-button
        >
      </template>
    </b-table>
    <b-pagination
      v-model="searchParams.page"
      :total-rows="rows"
      :per-page="searchParams.limit"
    ></b-pagination>
    <b-modal
      id="modal-create"
      title="Create Content"
      ref="modal"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group id="input-title" label="Title" label-for="title">
          <b-form-input
            id="title"
            v-model="createPayload.title"
            type="text"
            placeholder="Enter title"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-description"
          label="Description"
          label-for="description"
        >
          <b-form-textarea
            id="description"
            v-model="createPayload.description"
            placeholder="Enter description"
            rows="4"
            max-rows="6"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group id="input-type" label="Type" label-for="type">
          <b-form-select
            id="type"
            v-model="createPayload.type"
            :options="typeOptions"
          ></b-form-select
        ></b-form-group>
        <b-form-group id="input-hashtag" label="Hashtag" label-for="hashtag">
          <b-form-tags
            id="hashtag"
            input-id="hashtag"
            v-model="createPayload.hashtag"
          ></b-form-tags>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="modal-update"
      title="Update Content"
      ref="modal"
      @ok="handleUpdate"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group id="input-title" label="Title" label-for="title">
          <b-form-input
            id="title"
            v-model="updatePayload.title"
            type="text"
            placeholder="Enter title"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-description"
          label="Description"
          label-for="description"
        >
          <b-form-textarea
            id="description"
            v-model="updatePayload.description"
            placeholder="Enter description"
            rows="4"
            max-rows="6"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group id="input-type" label="Type" label-for="type">
          <b-form-select
            id="type"
            v-model="updatePayload.type"
            :options="typeOptions"
          ></b-form-select
        ></b-form-group>
        <b-form-group id="input-hashtag" label="Hashtag" label-for="hashtag">
          <b-form-tags
            id="hashtag"
            input-id="hashtag"
            v-model="updatePayload.hashtag"
          ></b-form-tags>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      ref="my-modal"
      id="modal-delete"
      hide-footer
      title="Confirm Delete"
    >
      <div class="d-block text-center">
        <h3>{{ deletePayload.title }}</h3>
      </div>
      <b-button
        class="mt-3"
        variant="outline-danger"
        block
        @click="confirmDelete"
        >Ok</b-button
      >
      <b-button
        class="mt-2"
        variant="outline-warning"
        block
        @click="hideModalDelete"
        >Close</b-button
      >
    </b-modal>
  </b-container>
</template>

<script>
import dayjs from 'dayjs'
import { pick } from 'lodash'
export default {
  name: 'ControlPanelPage',
  layout: 'default',
  middleware: 'auth',
  async fetch() {
    await this.fetchData()
  },
  data() {
    return {
      contents: [],
      rows: 0,
      createPayload: {
        title: null,
        description: null,
        type: null,
        hashtag: null,
      },
      updatePayload: {
        title: null,
        description: null,
        type: null,
        hashtag: null,
      },
      deletePayload: {
        title: null,
        description: null,
        type: null,
        hashtag: null,
      },
      searchParams: {
        limit: 5,
        page: 1,
      },
      fields: [
        {
          key: 'createdAt',
          label: 'Created Date',
        },
        { key: 'title', label: 'Title' },
        { key: 'type', label: 'Type' },
        { key: 'actions', label: 'Actions' },
      ],
      typeOptions: [
        { value: 'News', text: 'News' },
        { value: 'Articles', text: 'Articles' },
        { value: 'Promotions', text: 'Promotions' },
      ],
      breadcrumb: [
        ...[
          {
            text: 'Home',
            href: '/',
          },
          {
            text: 'Control Panel',
            href: '/control-panel',
          },
        ],
      ],
    }
  },
  watch: {
    async 'searchParams.page'() {
      await this.fetchData()
    },
  },
  methods: {
    async fetchData() {
      const queryString = new URLSearchParams(this.searchParams).toString()
      await this.$axios.$get(`/news?${queryString}`).then((response) => {
        this.contents = response.data.map((row) => ({
          ...row,
          createdAt: dayjs(row.createdAt).format('DD MMMM YYYY'),
        }))
        this.rows = response.metadata.totalItems
      })
    },
    onReset() {
      this.$refs.modalCreate.hide()
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid
      return valid
    },
    handleOk(bvModalEvent) {
      bvModalEvent.preventDefault()
      this.handleSubmit()
    },
    resetModal() {
      this.createPayload = {
        name: null,
        description: null,
        type: null,
        hashtag: null,
      }
    },
    hideModalCreate() {
      this.resetModal()
      this.$bvModal.hide('modal-create')
    },
    async handleSubmit() {
      if (!this.checkFormValidity()) {
        return
      }
      await this.$axios
        .post(`/news`, this.createPayload)
        .then(() => {
          this.hideModalCreate()
        })
        .catch((error) => {
          if (error.statusCode === 400) {
            for (const { message } of error.message) {
              this.$bvToast.toast(message, {
                title: 'Warning',
                autoHideDelay: 5000,
                appendToast: true,
                toaster: 'b-toaster-bottom-right',
                variant: 'warning',
              })
            }
          }
        })
      await this.fetchData()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing')
      })
    },

    editContent(item) {
      this.updatePayload = item
      this.$bvModal.show('modal-update')
    },
    async handleUpdate() {
      console.log(this.updatePayload)

      await this.$axios
        .patch(
          `/news/${this.updatePayload.id}`,
          pick(this.updatePayload, ['title', 'description', 'type', 'hashtag'])
        )
        .then(() => {
          this.$bvModal.hide('modal-update')
        })
        .catch((error) => {
          if (error.statusCode === 400) {
            for (const { message } of error.message) {
              this.$bvToast.toast(message, {
                title: 'Warning',
                autoHideDelay: 5000,
                appendToast: true,
                toaster: 'b-toaster-bottom-right',
                variant: 'warning',
              })
            }
          }
        })
      await this.fetchData()
    },
    deleteContent(item) {
      this.deletePayload = item
      this.$bvModal.show('modal-delete')
    },
    hideModalDelete() {
      this.deletePayload = {
        title: null,
        description: null,
        type: null,
        hashtag: null,
      }
      this.$bvModal.hide('modal-delete')
    },
    async confirmDelete() {
      await this.$axios.delete(`/news/${this.deletePayload.id}`).then(() => {
        this.fetchData()
        this.hideModalDelete()
      })
    },
  },
  // beforeMount() {
  //   if (!this.$auth.loggedIn) {
  //     this.$router.push('/contents');
  //   }
  // },
}
</script>
