<!-- Please remove this file from your project -->
<template>
  <b-container class="pt-5 text-center">
    <div class="max-w-4xl sm:px-6 lg:px-8">
      <a class="flex justify-center pt-8 sm:pt-0">
        <img height="100px" src="/logo.png" />
      </a>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'CadrHome',
}
</script>
