<template>
  <footer>
    <b-container class="p-4">
      <b-row>
        <b-col lg="8"
          ><b-navbar-brand href="#"
            ><img src="/logo.png" alt="Logo" style="width: auto; height: 58px"
          /></b-navbar-brand>
          <b-col lg="6" sm="12" class="p-0 pt-3"
            ><span
              >Our vision is to provide convenience and help increase your sales
              business.</span
            ></b-col
          >
          <div class="py-2">
            <img
              src="/social-footer.png"
              alt="social"
              style="width: auto; height: 32px"
            />
          </div>
        </b-col>
        <b-col lg="2">
          <h4 class="nav-title">Our Service</h4>
          <b-nav vertical>
            <b-nav-item>Exchange Rate</b-nav-item>
            <b-nav-item>Online Booking</b-nav-item>
            <b-nav-item>Rate Tracker</b-nav-item>
            <b-nav-item>News & Promotions</b-nav-item>
          </b-nav>
        </b-col>

        <b-col lg="2"
          ><h4 class="nav-title">Help</h4>
          <b-nav vertical>
            <b-nav-item>Contact Us</b-nav-item>
            <b-nav-item>About Us</b-nav-item>
            <b-nav-item>FAQs</b-nav-item>
          </b-nav>
        </b-col>
        <b-col lg="12" class="end-footer"
          ><b-row
            ><b-col lg="6"> © OTC Exchange Limited 2021 </b-col
            ><b-col lg="6">
              <b-nav class="justify-content-end nav-policy">
                <b-nav-item>Cookie Policy</b-nav-item>
                <b-nav-item>Privacy & Policy</b-nav-item>
                <b-nav-item>Terms & Conditions</b-nav-item>
              </b-nav>
            </b-col></b-row
          ></b-col
        >
      </b-row>
    </b-container>
  </footer>
</template>
<script>
export default {
  name: 'FooterComponent',
}
</script>
  <style>
footer {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.nav-link {
  color: #101225;
  padding: 0.2rem 1rem;
}
.nav-title {
  color: #637de5;
  font-size: 16px;
  padding: 8px 16px;
}
.end-footer {
  margin-top: 10px;
  color: #637de5;
  padding: 24px 0;
  border-top: 2px solid #3b52a3;
  font-weight: 600;
}
.nav-policy > li > a {
  color: #637de5 !important;
  font-weight: 600;
}
</style>
  