<template>
  <b-navbar toggleable="md" type="light">
    <b-container>
      <b-navbar-brand href="#"
        ><img src="/logo.png" alt="Logo" style="width: 70px; height: auto"
      /></b-navbar-brand>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="mx-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <span class="our-service">Our service</span>
            </template>
            <b-dropdown-item :to="{ path: '/quiz' }" exact
              >Quiz</b-dropdown-item
            >
          </b-nav-item-dropdown>
          <b-nav-item :to="{ path: '/contents' }" exact>News</b-nav-item>
          <b-nav-item :to="{ path: '/about' }" exact>About us</b-nav-item>
          <b-nav-item :to="{ path: '/contact' }" exact>Contact us</b-nav-item>
          <b-nav-item v-if="isAdmin" :to="{ path: '/control-panel' }" exact
            >Control panel</b-nav-item
          >
        </b-navbar-nav>

        <b-navbar-nav>
          <div class="d-flex align-items-center">
            <img :src="flagImageUrl" alt="Flag Avatar" class="avatar-flag" />
          </div>
          <b-nav-item-dropdown
            :text="$store.state.language"
            right
            class="d-inline-block"
          >
            <b-dropdown-item @click="changeLanguage('EN')">EN</b-dropdown-item>
            <b-dropdown-item @click="changeLanguage('TH')">TH</b-dropdown-item>
          </b-nav-item-dropdown>

          <button class="btn p-1 ml-1" pill>
            <span>
              <i class="far fa-moon fa-lg" aria-hidden="true"></i>
            </span>
          </button>
          <b-nav-item-dropdown v-if="isSignIn" right>
            <template #button-content>
              <span class="our-service">{{ name }}</span>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item
              v-if="isAdmin"
              href="#"
              @click="rountePush('/control-panel')"
              >Control Panel</b-dropdown-item
            >
            <b-dropdown-item href="#" @click="signOut()"
              >Sign-out</b-dropdown-item
            >
          </b-nav-item-dropdown>

          <button v-if="isSignInRoute" class="btn p-1 ml-1" pill>
            <span>
              <i class="far fa-user fa-lg" aria-hidden="true"></i>
            </span>
          </button>
          <button
            v-if="!isSignInRoute && !isSignIn"
            class="btn ml-1"
            pill
            @click="rountePush('/sign-in')"
          >
            Login
          </button>
          <b-button
            v-if="!isSignInRoute && !isSignIn"
            variant="primary"
            class="ml-1 text-white"
            pill
            >Register</b-button
          >
        </b-navbar-nav>
      </b-collapse>
    </b-container>
  </b-navbar>
</template>
<script>
export default {
  name: 'NavbarComponent',
  data() {
    return {
      name: null,
      role: null,
    }
  },
  computed: {
    flagImageUrl() {
      return `/${this.$store.state.language.toLowerCase()}-icon.png`
    },
    isSignInRoute() {
      return this.$route.path === '/sign-in'
    },
    isAdmin() {
      return this.role === 'admin'
    },
    token() {
      return this.$store.state.token
    },
    isSignIn() {
      return this.name !== null && this.name !== ''
    },
  },
  mounted() {
    if (this.$auth.loggedIn) {
      const userProfile = this.$auth.user
      this.name = userProfile.name
      this.role = userProfile.role
    }
  },
  methods: {
    changeLanguage(language) {
      this.$store.commit('setLanguage', language)
    },
    rountePush(path) {
      this.$router.push(path)
    },
    async signOut() {
      await this.$auth.logout()
      window.location.reload()
    },
  },
}
</script>

<style scoped>
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 80px;
}
.navbar-light .navbar-nav .nav-link {
  color: #101225;
  text-decoration: none;
}
.our-service {
  color: #101225;
}
.nuxt-link-active {
  color: #ff8f2a !important;
}
.avatar-flag {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px #101225;
}
</style>
