<template>
  <div>
    <div class="wrapper">
      <main class="main">
        <Navbar />
        <b-container fluid class="p-0"> <nuxt /></b-container>
      </main>
      <Footer />
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'QTC-Exchange',
      meta: [
        { hid: 'description', name: 'description', content: 'qtc-exchange' },
      ],
      link: [{ rel: 'icon', type: 'image/x-icon', href: '/icon.ico' }],
    }
  },
  computed: {
    flagImageUrl() {
      return `/${this.$store.state.language.toLowerCase()}-icon.png`
    },
  },
  methods: {
    changeLanguage(language) {
      this.$store.commit('setLanguage', language)
    },
    changeRoute(path) {
      this.$router.push(path)
    },
  },
}
</script>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}
</style>
