
<template>
  <div>
    <header>
      <title>OK</title>
    </header>
    <main class="main">
      <Navbar />
      <b-container>
        <nuxt />
      </b-container>
    </main>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'QTC-Exchange',
      meta: [
        { hid: 'description', name: 'description', content: 'qtc-exchange' },
      ],
      // ตัวอย่างเพิ่ม link หรือ icon
      link: [{ rel: 'icon', type: 'image/x-icon', href: '/custom-icon.ico' }],
    }
  },
  computed: {
    flagImageUrl() {
      return `/${this.$store.state.language.toLowerCase()}-icon.png`
    },
  },
  methods: {
    changeLanguage(language) {
      this.$store.commit('setLanguage', language)
    },
    changeRoute(path) {
      this.$router.push(path)
    },
  },
}
</script>

<style scoped>
.main {
  min-height: 100vh;
  background-image: url('/sign-in-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
</style>